@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
